*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
	box-sizing: border-box;
}
.content{
	letter-spacing: 1px;
}
.height{
	line-height: 3;
}
.lin{
	line-height: 3;
}
.lin 2{
	line-height: 3;
}
.lin 3{
	line-height: 3;
}
.lin 4{
	line-height: 3;
}
h1{
    right: 50%;
	left: 50%;
	text-align: center;
}
.lin p{
	width: 974px;
	margin: 0 auto;
	text-align: justify;
}
.content p{
	width: 974px;
	margin: 0 auto;
	text-align: justify;
}
footer{
	position: absolute;
	right: 0;
	background: #111;
	height: auto;
	width: 100vw;
	font-family: "Open Sans";
	padding-top: 40px;
	color: #fff;
}
.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footer-content h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
}
.footer-content p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}
.socials{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}
.socials li{
	margin: 0 10px;
}
.socials a{
	text-decoration: none;
	color: #fff;
}
.socials a i{
	font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}
@keyframes .socials a:hover i{
	0%{
		color: aqua;
	}
	10%{
		color : red;
	}
	100%{
		color: aqua;
	}
}

.footer-bottom{
	background: #000;
	width: 100vw;
	padding: 20px 0;
	text-align: center;
}
.footer-bottom p{
	font-size: 14px;
	word-spacing: 2px;
	text-decoration: capitalize;
}
.footer-bottom span{
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}
.html{
	text-align: center;
}
h2{
	text-align: center;
}
h3{
	text-align: center;
}
.laptop{
	text-align: center;
}
.laptop img{
	border-radius: 50% 50% 50% 50%;
}
.ideas{
	text-align: center;
}
.ideas img{
	border-radius: 50% 100% 50% 100%;
}
.question{
	text-align: center;
}
.question img{
}